@model PenielBikeControle.Models.ViewModels.VendaViewModel

<link rel="stylesheet" href="~/css/vendas/cadastro-vendas.css" />


<input id="titulo-da-pagina" value="Cadastro de Vendas" style="display: none;">

<div class="row">
    <div class="col-xl-3 col-lg-3">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Dados da Venda</h6>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">

                        <div class="col-md-12 form-group">
                            <label asp-for="FuncionarioId" class="control-label"></label>
                            <select asp-for="FuncionarioId" class="form-control form-control-sm select select-func"
                                asp-items="Model.ListaDeFuncionarios">
                                <option></option>
                            </select>
                            <span asp-validation-for="FuncionarioId" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <label asp-for="ClienteId" class="control-label"></label>
                            <select asp-for="ClienteId" class="form-control form-control-sm select select-cli"
                                asp-items="Model.ListaDeClientes">
                                <option></option>
                            </select>
                            <span asp-validation-for="ClienteId" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <label asp-for="ProdutoClienteId" class="control-label"></label>
                            <select asp-for="ProdutoClienteId"
                                class="form-control form-control-sm select select-prodCli"
                                asp-items="Model.ListaProdutosCliente">
                                <option></option>
                            </select>
                            <span asp-validation-for="ProdutoClienteId" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <label asp-for="Venda.Data" class="control-label"></label>
                            <input asp-for="Venda.Data" class="form-control" />
                            <span asp-validation-for="Venda.Data" class="text-danger"></span>
                        </div>
                        <div id="checks-vendaPaga-ProdEntregue" class="col-md-12 row">
                            <div class="col-md-6 form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Venda.VendaPaga" />
                                    @Html.DisplayNameFor(model => model.Venda.VendaPaga)
                                </label>
                            </div>

                            <div class="col-md-6 form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Venda.ProdutoEstoqueEntregue" />
                                    @Html.DisplayNameFor(model => model.Venda.ProdutoEstoqueEntregue)
                                </label>
                            </div>
                        </div>
                        <div id="divBtnSalvar" class="col-md-12">
                            <div class="form-group">
                                <button id="btnSalvar" type="submit" class="btn btn-success btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-check"></i>
                                    </span>
                                    <span class="text">Salvar venda</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-9 col-lg-9">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Itens da Venda</h6>
                <h6 class="m-0 font-weight-bold" style="color: #607d8b;">@Model.DataNaTela</h6>
            </div>
            <div id="card-itens-venda" class="form-group">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label asp-for="ProtudoEstoqueId" class="control-label"></label>
                            <select id="selectProduto" class="form-control form-control-sm select select-prod">
                                <option></option>
                                @{
                                    foreach (var produto in Model.ListaDeProdutos)
                                    {
                                        <option data-preco="@produto.PrecoFinal" data-precoMaoDeObra="@produto.PrecoMaoDeObra"
                                            value="@produto.Id">@produto.ProdutoCompleto</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-2 form-group">
                            <label asp-for="Quantidade" class="control-label"></label>
                            <select id="selectQtde" asp-for="Quantidade"
                                class="form-control form-control-sm select-one">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                            </select>
                        </div>

                        <div id="divBtnAddProduto" class="col-md-4 form-group">
                            <div class="form-group">
                                <button id="btnAddProduto" type="submit" class="btn btn-info btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fa-solid fa-plus"></i>
                                    </span>
                                    <span class="text">Adicionar produto</span>
                                </button>
                            </div>
                        </div>

                        <div class="col-md-12 form-group table-responsive">
                            <table id="tabela-orcamento" class="table-sm table-bordered">
                                <thead class="thead-table">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Qtde</th>
                                        <th scope="col">Cód.</th>
                                        <th scope="col">Produto</th>
                                        <th scope="col">Valor Unit.</th>
                                        <th scope="col">Valor Mão de Obra</th>
                                        <th scope="col">Valor Total</th>
                                        <th scope="col">...</th>
                                    </tr>
                                </thead>
                                <tbody class="tbody-table">
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Resumo da Venda</h6>
            </div>
            <div class="form-group">
                <div class="col-md-12 div-resumo">
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <div class="form-group col-md-6">
                                <label for="subTotalVenda">SUBTOTAL</label>
                                <input id="subTotalVenda" type="text" class="form-control bg-light small input-resumo"
                                    value="R$ 0,00" disabled>
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <div class="form-group col-md-6">
                                <label for="descontoVenda">DESCONTO</label>
                                <input id="descontoVenda" type="text" class="form-control bg-light small input-resumo"
                                    value="R$ 0,00" disabled><span id="msgAlertaDesconto"></span>
                            </div>
                        </div>
                        <div class="col-md-4 form-group">
                            <div class="form-group col-md-6">
                                <label id="lbTotalVenda" for="totalVenda">TOTAL</label>
                                <input id="totalVenda" type="text" class="form-control bg-light small input-resumo"
                                    value="R$ 0,00" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/vendas/cadastro-vendas.js" asp-append-version="true"></script>
}