@model PenielBikeControle.Models.ViewModels.VendaViewModel

<link rel="stylesheet" href="~/css/vendas/cadastro-vendas.css" />

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Venda</h1>
</div>
<div class="row">
    <div class="col-xl-3 col-lg-3">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Dados da Venda</h6>

            </div>
            <div class="form-group">
                <div class="col-md-12">

                    <form asp-action="Cadastro">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">

                            <div class="col-md-12 form-group">
                                <label asp-for="FuncionarioId" class="control-label"></label>
                                <select asp-for="FuncionarioId" class="form-control form-control-sm select select-func" asp-items="Model.ListaDeFuncionarios"><option></option></select>
                            </div>
                            <div class="col-md-12 form-group">
                                <label asp-for="ClienteId" class="control-label"></label>
                                <select asp-for="ClienteId" class="form-control form-control-sm select select-cli" asp-items="Model.ListaDeClientes"><option></option></select>
                            </div>
                            <div class="col-md-12 form-group">
                                <label asp-for="ProdutoClienteId" class="control-label"></label>
                                <select asp-for="ProdutoClienteId" class="form-control form-control-sm select select-prodCli" asp-items="Model.ListaProdutosCliente"><option></option></select>
                            </div>


                            <div class="col-md-12 row">
                                <div class="col-md-6 form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="Venda.VendaPaga" />
                                        @Html.DisplayNameFor(model => model.Venda.VendaPaga)
                                    </label>
                                </div>

                                <div class="col-md-6 form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="Venda.ProdutoEstoqueEntregue" />
                                        @Html.DisplayNameFor(model => model.Venda.ProdutoEstoqueEntregue)
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <label asp-for="Venda.Data" class="control-label"></label>
                                <input asp-for="Venda.Data" class="form-control" />
                                <span asp-validation-for="Venda.Data" class="text-danger"></span>
                            </div>
                            <div class="col-md-12" style="text-align: center;margin-top: 40px;">
                                <div class="form-group">
                                    <input id="btnSalvar" type="submit" value="Salvar Venda" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-9 col-lg-9">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Itens de Venda</h6>
                <h6 class="m-0 font-weight-bold" style="color: #607d8b;">@Model.DataNaTela</h6>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="row">
                        @*<div class="col-md-6 form-group">
                        <label asp-for="ProtudoEstoqueIds" class="control-label"></label>
                        <select asp-for="ProtudoEstoqueIds" class="form-control form-control-sm select" asp-items="Model.ListaDeProdutos"><option></option></select>
                        </div>*@
                        <div class="col-md-6 form-group">
                            <label asp-for="ProtudoEstoqueId" class="control-label"></label>
                            @*<select asp-for="ProtudoEstoqueId" class="form-control form-control-sm select select-prod" asp-items="Model.ListaDeProdutos"><option></option></select>*@

                            <select id="selectProduto"  class="form-control form-control-sm select select-prod">
                                @{
                                    foreach (var prod in Model.ListaDeProdutos)
                                    {
                                        <option data-preco="@prod.PrecoFinal" data-precoMaoDeObra="@prod.PrecoMaoDeObra" value="@prod.Id">@prod.Nome, @prod.Marca, @prod.Modelo</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-1 form-group">
                            <label asp-for="Quantidade" class="control-label"></label>
                            <select id="selectQtde" asp-for="Quantidade" class="form-control form-control-sm select-one">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                            </select>
                        </div>

                        <div class="col-md-4 form-group">
                            <div class="form-group" style="text-align: center;margin-top: 30px;margin-bottom: 0px;">
                                <input id="btnAddProduto" type="submit" value="Adicionar Venda" class="btn btn-info" style="height: 30px;font-size: 14px;">
                            </div>
                        </div>
                        @*<div class="col-md-6 form-group">
                        <label asp-for="Venda.DescontoTotal" class="control-label"></label>
                        <input asp-for="Venda.DescontoTotal" class="form-control" />
                        <span asp-validation-for="Venda.DescontoTotal" class="text-danger"></span>
                        </div>*@

                        <div class="col-md-12 form-group">
                            <table id="tabela-orcamento" class="table table-sm table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Qtde</th>
                                        <th scope="col">Cód.</th>
                                        <th scope="col">Produto</th>
                                        <th scope="col">Valor Unit.</th>
                                        <th scope="col">Valor Mão de Obra</th>
                                        <th scope="col">Valor Total</th>
                                        <th scope="col">...</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @* <tr>
                                        <td class="row-table">1</td>
                                        <td>1</td>
                                        <td>122</td>
                                        <td>Aro Aero, Vermelho, Aro 26</td>
                                        <td>R$ 22,00</td>
                                        <td>R$ 10,00</td>
                                        <td>R$ 56,00</td>
                                        <td class="td-remover"><a class="btn btn-danger btn-remover" href="#">remover</a></td>
                                    </tr>
                                    <tr>
                                        <td class="row-table">2</td>
                                        <td>2</td>
                                        <td>122</td>
                                        <td>Pneu, Slim, Aro 26</td>
                                        <td>R$ 28,00</td>
                                        <td>R$ 10,00</td>
                                        <td>R$ 56,00</td>
                                        <td class="td-remover"><a class="btn btn-danger btn-remover" href="#">remover</a></td>
                                    </tr>
                                    <tr>
                                        <td class="row-table">3</td>
                                        <td>2</td>
                                        <td>122</td>
                                        <td>Pneu, Slim, Aro 26</td>
                                        <td>R$ 28,00</td>
                                        <td>R$ 10,00</td>
                                        <td>R$ 56,00</td>
                                        <td class="td-remover"><a class="btn btn-danger btn-remover" href="#">remover</a></td>
                                    </tr> *@
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

