@model PenielBikeControle.Models.ViewModels.TipoProdutoViewModel
@using PenielBikeControle.Models.ViewModels

@{
    ModalPadraoCadastroViewModel modalCadastroTipoProduto = new ()
    {
        Id = null,
        ModoEdicao = false,
        NomePartialView = "_ModalTipoProduto",
        ParamModel = Model.TipoDeProduto
    };
}

<link rel="stylesheet" href="~/css/paginas/tiposDeProdutos.css" asp-append-version="true"/>

<input id="titulo-da-pagina" value="Tipos de Produtos" style="display: none;">

<div class="div-botoes form-group row">
    <div class="col-md-8"></div>
    <div class="col-md-4 div-botao-direita">
        <a href="#" class="btn-add-modal btn btn-info btn-icon-split" data-toggle="modal" data-target="#modalTipoProduto">
            <span class="icon text-white-50">
                <i class="fa-solid fa-plus"></i>
            </span>
            <span class="text">Adicionar Tipo de Produto</span>
        </a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoDeProduto.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoDeProduto.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TiposDeProdutos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td class="row"> 
                    <a href="#" data-id-tipo-produto="@item.Id" class="editarTipoProduto" style="margin-right: 15px">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </a>
                    <a href="#" data-id-tipo-produto="@item.Id" class="removerTipoProduto">
                        <i class="fa-solid fa-trash-can"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div id="modalTipoProduto" class="div-modal modal fade">
    @Html.Partial("_ModalCadastroPadrao", modalCadastroTipoProduto)
</div>

<div id="modalEdicaoTipoProduto" class="div-modal modal fade">
</div>

@section Scripts {
    <script src="~/js/paginas/tiposDeProdutos.js" asp-append-version="true"></script>    
}